{% extends "base.html" %}

{% load static %}

{% block title %}Guest Game{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/guest-game.css' %}">
    <link rel="stylesheet" href="{% static 'css/guest-game-styles.css' %}">
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="column">
        <div class="row">
            <button class="difficulty-option main" data-values="9,9,10">Beginner</button>
        </div>  
        <div class="row">
            <button class="difficulty-option main" data-values="16,16,40">Intermediate</button>
        </div>
        <div class="row">
            <button class="difficulty-option main" data-values="16,30,99">Expert</button>
        </div>
        <div class="row">
            <button class="difficulty-option" id="custom">Custom</button>
        </div>
        <div class="rectangle">
            <div class="input-row">
                <p class="label">Height</p>
                <input type="number" id="height" readonly>
            </div>
            <div class="input-row">
                <p class="label">Width</p>
                <input type="number" id="width" readonly>
            </div>
            <div class="input-row">
                <p class="label">Mines</p>
                <input type="number" id="mines" readonly>
            </div>
            <button class="no-style">PLAY</button>
        </div>
    </div>
</div>


<div id="game">
  <div id="game-container">
    <div id="mine-counter" class="game-ui-item">00</div>
    <div id="board"></div>
    <div id="timer" class="game-ui-item">00:00</div>
  </div>
</div>

<div id="endgame-popup" class="hidden">
  <div id="endgame-popup-box">
    <h2 id="endgame-title"></h2>
    <button id="restart-button">🔁 Restart</button>
    <button id="change-difficulty-button">🎮 Change Difficulty</button>
  </div>
</div>
{% endblock %}


{% block extra_scripts %}
    <script type="module" src="{% static 'js/guestGameMenu.js' %}"></script>
    <script type="module" src="{% static 'js/guestGameInit.js' %}"></script>
{% endblock %}