{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {% block title %} Nicolas Belko {% endblock %} | Minesweeper | Portfolio project
    </title>

    <meta
      name="description"
      content="{% block description %}A slightly different take on Minesweeper, 
      developed as learning project and showcased in my portfolio.{% endblock %}"
    />

    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="anonymous"
    />

    <!-- Font placeholder -->

    <!-- Playfair Display - only regular (400) and bold (700) -->
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />


    <!-- Additional CSS for each specific page -->
    {% block extra_css %}{% endblock %}

  </head>

  <body>
    {% block template %}{% endblock %}
    {% block content %}{% endblock %}

    <!-- Placeholder for scripts  -->
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
